audio = 0/Audio/
blogi = 0/Weblog/
datasetti = 0/Dataset/
esitys = 0/Presentation/
harjoitus = 0/Exercise/
kaavio = 0/Diagram/
kartta = 0/Map/
kokeellinen työskentely = 0/Activity/
kuva = 0/Picture/
luentotallenne = 0/Lecture/
opas = 0/Guide/
peli = 0/Game/
projekti = 0/Project/
sanasto = 0/Glossary/
simulaatio = 0/Simulation/
sovellus = 0/Application/
teksti = 0/Text/
työkalu = 0/Tool/
video = 0/Video/
wiki = 0/Wiki/

aktivitet = 0/Activity/
applikation = 0/Application/
bild = 0/Picture/
dataset = 0/Dataset/
diagram = 0/Diagram/
föreläsning = 0/Lecture/
guide = 0/Guide/
karta = 0/Map/
ljud = 0/Audio/
ordlista = 0/Glossary/
övning = 0/Exercise/
presentation = 0/Presentation/
projekt = 0/Project/
simulering = 0/Simulation/
spel = 0/Game/
text = 0/Text/
verktyg = 0/Tool/
video = 0/Video/
web blogg = 0/Weblog/
wiki = 0/Wiki/

activity = 0/Activity/
application = 0/Application/
audio = 0/Audio/
dataset = 0/Dataset/
diagram = 0/Diagram/
exercise = 0/Exercise/
game = 0/Game/
glossary = 0/Glossary/
guide = 0/Guide/
lecture = 0/Lecture/
map = 0/Map/
picture = 0/Picture/
presentation = 0/Presentation/
project = 0/Project/
simulation = 0/Simulation/
text = 0/Text/
tool = 0/Tool/
video = 0/Video/
weblog = 0/Weblog/
wiki = 0/Wiki/

aipa[] = 0/AIPA/
aipa[] = 1/AIPA/AIPA/
aipa:education[] = 0/AIPA/
aipa:education[] = 1/AIPA/AIPA/
aipa:education[] = 1/AIPA/Education/
