; Regexp map. Note: the order is important since first match will rule over others.

^CC0$ = CC0

^CC[ -]*BY[ -]*NC[ -]*ND.* = CC BY-NC-ND
^https?://creativecommons\.org/licenses/by-nc-nd/.* = CC BY-NC-ND
^Creative Commons Attribution-NonCommercial-NoDerivs.* = CC BY-NC-ND

^CC[ -]*BY[ -]*NC[ -]*SA.* = CC BY-NC-SA
^https?://creativecommons\.org/licenses/by-nc-sa/.* = CC BY-NC-SA
^Creative Commons Attribution-NonCommercial-ShareAlike.* = CC BY-NC-SA

^CC[ -]*BY[ -]*SA.* = CC BY-SA
^https?://creativecommons\.org/licenses/by-sa/.* = CC BY-SA
^Creative Commons Attribution-ShareAlike.*/ = CC BY-SA

^CC[ -]*BY[ -]*ND.* = CC BY-ND
^https?://creativecommons\.org/licenses/by-nd/.* = CC BY-ND
^Creative Commons Attribution-NoDerivs.* = CC BY-ND

^CC[ -]*BY[ -]*NC.* = CC BY-NC
^https?://creativecommons\.org/licenses/by-nc/.* = CC BY-NC
^Creative Commons Attribution-NonCommercial.* = CC BY-NC

^CC[ -]*BY[ \.\d]* = CC BY
^https?://creativecommons\.org/licenses/by/.* = CC BY
^Creative Commons Attribution.* = CC BY

^No known copyright restrictions$ = Unknown

^[Pp]ublic [Dd]omain.* = PD
^https?://creativecommons\.org/publicdomain/.* = PD
^Creative Commons Public Domain = PD

^InC-EDU.* = InC-EDU
^http://rightsstatements.org/page/InC-EDU/.* = InC-EDU

^InC-OW-EU = InC-OW-EU
^http://rightsstatements.org/vocab/InC-OW-EU/.* = InC-OW-EU

^http://rightsstatements.org/page/InC/.* = InC
^InC.* = InC

^NC-NCUP.* = NC-NCUP

^[Cc]opyright not evaluated.*  = CNE
^CNE.* = CNE

^[Rr]estricted$ = Restricted
^Ei lisensiointia$ = Restricted

; By default map to empty value:
; ##default =
; If mappings of all values results in empty, use the following:
; ##mappedemptyarray = Unknown
