; Regexp map. Note: the order is important since first match will rule over others.

^CC0.*$ = A Free/CC0

^CC[ -]*BY[ -]*NC[ -]*ND.* = B Conditional/NC-ND
^https?://creativecommons\.org/licenses/by-nc-nd/.* = B Conditional/NC-ND
^Creative Commons Attribution-NonCommercial-NoDerivs.* = B Conditional/NC-ND

^CC[ -]*BY[ -]*NC[ -]*SA.* = B Conditional/NC/CC BY-NC-SA
^https?://creativecommons\.org/licenses/by-nc-sa/.* = B Conditional/NC/CC BY-NC-SA
^Creative Commons Attribution-NonCommercial-ShareAlike.* = B Conditional/NC/CC BY-NC-SA

^CC[ -]*BY[ -]*SA.* = B Conditional/BY/CC BY-SA
^https?://creativecommons\.org/licenses/by-sa/.* = B Conditional/BY/CC BY-SA
^Creative Commons Attribution-ShareAlike.*/ = B Conditional/BY/CC BY-SA

^CC[ -]*BY[ -]*ND.* = B Conditional/ND
^https?://creativecommons\.org/licenses/by-nd/.* = B Conditional/ND
^Creative Commons Attribution-NoDerivs.* = B Conditional/ND

^CC[ -]*BY[ -]*NC.* = B Conditional/NC/CC BY-NC
^https?://creativecommons\.org/licenses/by-nc/.* = B Conditional/NC/CC BY-NC
^Creative Commons Attribution-NonCommercial.* = B Conditional/NC/CC BY-NC

^CC[ -]*BY *\d[\.\d]+.* = B Conditional/BY/CC BY
^https?://creativecommons\.org/licenses/by/.* = B Conditional/BY/CC BY
^Creative Commons Attribution.* = B Conditional/BY/CC BY

^No known copyright restrictions$ = C Restricted/Unknown

^[Pp]ublic [Dd]omain.* = A Free/PD
^https?://creativecommons\.org/publicdomain/.* = A Free/PD
^Creative Commons Public Domain.* = A Free/PD

^InC-EDU.* = B Conditional/EDU
^http://rightsstatements.org/page/InC-EDU/.* = B Conditional/EDU

^InC-OW-EU = C Restricted/InC/InC-OW-EU
^http://rightsstatements.org/page/InC-OW-EU/.* = C Restricted/InC/InC-OW-EU

^http://rightsstatements.org/page/InC/.* = C Restricted/InC/InC
^InC.* = C Restricted/InC/InC

^NC-NCUP.* = B Conditional/NC/NC-NCUP

^[Cc]opyright not evaluated.* = C Restricted/Unknown
^CNE.* = C Restricted/Unknown

^[Rr]estricted$ = C Restricted/Unknown
^Ei lisensiointia$ = C Restricted/Unknown

; By default map to empty value:
##default =
; If mappings of all values results in empty, use the following:
##mappedemptyarray = C Restricted/Unknown
